@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #D7DDEA;
}

/* header styles */

header {
    background-color: rgb(126, 143, 196);
    border-radius: 10px;
    margin-top: 30px;
}

.logo {
    padding-left: 10rem;
    font-size: 2.5rem;
    font-style: normal;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    padding-right: 5rem;
    font-size: 1.75rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

ul, li {
    list-style: none;
    padding: 10px 20px;
}

/* footer styles */

footer {
    background-color: rgb(126, 143, 196);
    color: white;
    font-size: 1.75rem;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 30px 0px;
}

/* home page styles */

.homepage {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7E8FC4;
}

.home1 {
    background-color: rgba(255, 255, 255, 0.5 );
    text-align: center;
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

.home2 {
    background-color: rgba(255, 255, 255, 0.5 );
    text-align: center;
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    padding: 33px 10px;
    font-size: 30px;
}

.grad-btn {
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right, #7E8FC4 0%, #ccd5e7 51%, #7E8FC4 100%);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-size: 200% auto;
    transition: 0.6s;
}

.grad-btn:hover {
    background-position: right center;
}

/* to-do page styles */

.to-do {
    background-color: rgba(255, 255, 255, 0.5 );
    margin: 40px 15px;
    padding: 25px;
}

.todo-form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.todo-input {
    width: 40%;
    padding: 13px 25px;
    font-size: 30px;
    display: block;
}

.todo-btn {
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right, #7E8FC4 0%, #ccd5e7 51%, #7E8FC4 100%);
    padding: 20px;
    border-radius: 1px;
    border: none;
    background-size: 200% auto;
    transition: 0.6s;
}

.todo-btn:hover {
    background-position: right center;
}

hr {
    background-color: #7E8FC4;
    margin: 2rem 1rem 1rem 1rem;
    height: 3px;
}

.todo-selectors {
    font-size: 1.75rem;
    color: #7E8FC4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.todo-selectors li:hover {
    background-color: #D7DDEA;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo-list {
    color: white;
    font-size: 30px;
    background-image: linear-gradient(to right, #7E8FC4 0%, #bccbe7 51%);
    margin: 20px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3px 30px;
    max-width: 60%;
}

.completed-item::after {
    content: '     ✔';
}

.update-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* contact page styles */

.contact-page {
    background-color: rgba(255, 255, 255, 0.5 );
    margin: 40px 15px;
    padding: 25px;
}

.forms {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

input {
    width: 60%;
    padding: 13px 25px;
    font-size: 30px;
    display: block;
}

textarea {
    width: 67%;
    padding: 13px 25px;
    font-size: 20px;
    display: block;
}


label {
    background-color: #7E8FC4;
    color: white;
    font-size: 30px;
    border-radius: 2px 0px 0px 2px;
    padding: 15px;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
